body {
     background: url('https://cf-static.clouty.ru/8b6612639d744f4eb18fc1f8f43626a62b19e417f4a84f4db5707b039ca09c93');
background-repeat: no-repeat;

      --moz-background-size:100%;
      -webkit-background-size:100%;
      -o-background-size:100%;
      background-size:100%;
  font-family: 'Inter', sans-serif;
color: #FFF;
}



.container {
    max-width: 1680px;
  margin: 0 auto;
}
.logo {
  position: absolute;
  left: 45px;
  top: 45px;
  width: 228px;
  height: 51px;
}

.bg-light {
    background-color: transparent !important;
  }

#navbarSupportedContent li a{
  text-transform: uppercase;
  color: #FFF;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.02em;
}

button {
     display: block;

}

.btn {
  background: #E54613;
  font-family: 'Poppins';
  color: #FFF;
font-style: 700;
font-weight: bold;
font-size: 16px;
line-height: 28px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 14px;
  width: 149px;
height: 50px;
  Padding: 11px, 15px, 11px, 15px;
  display: inline;
  border: none;
  background: linear-gradient(90deg, #E64613 0%, #CB0000 107.88%);
box-shadow: 0px 6px 40px rgba(234, 77, 45, 0.5);
border-radius: 40px;
  }


.mainscreen {
margin-top: 180px;
}
.mainscreen-cont a {
    text-shadow: #ffffff 0 0 10px;
    color: #FFFFFF;
}
.mainscreen-cont__title {
  font-size: 86px;
  font-weight: 900;
}

.mainscreen_cont__text {

    font-size: 22px;
    font-weight: 100;

}
.download {
  background-color:transparent;
  	border-radius:28px;
  	border:2px solid #ffffff;
    box-shadow: #ffffff 0 0 10px;
  	display:inline-block;
  	cursor:pointer;
    text-shadow: #ffffff 0 0 10px;
  	color:#ffffff;
  	font-size:18px;
  	font-weight:bold;
  	padding:9px 41px;
  	text-decoration: none;
  }


.download:hover {
  background-color: #59FFFF;
}


.whyscala {
  padding-top: 250px;
}

.whyscala h2 {
  font-size: 54px;
  color: #FFFFFF;
}

.whyscala p {
  font-size: 24px;
  font-weight: 200;
}

.powered {
  background: url('https://cf-static.clouty.ru/32b8a3984fa54f3c97fa4ac3a152bd7483ce4596a38a41dbbaddab129ed87a83') center center;
  height: 800px;
  width: 100%;
  z-index: 999;
background-repeat: no-repeat;
background-size: cover;


}

.powered-cont {
  padding-top: 200px;
}

.powered-cont__title {
  font-size: 18px;
  font-size: 64px;
  font-weight: 900;
  white-space: nowrap;
}

.powered_cont__text {
  font-size: 18px;
}

.slider {
  padding-top: 200px;
}

.cases {
background-color: #0b121e;
  opacity: 1;
  z-index: 999;
}

.card-body {
  background-color: #E93F1B;
  border: none !important;
}

.card {
  border: none !important;

}

.card-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;

}

.card-text {
  font-size: 14px;
  font-weight: normal;
  text-align: center;

}

.features {
  padding-top: 100px;
  background-color: #0b121e;
    opacity: 1;
    z-index: 999;
}


.big-grid h2 {
  color: #E93F1B;
  font-size: 26px;
  font-weight: 100;

}

.big-grid p {
  font-size: 16px;
  font-weight: 100;
}

.explore {
  padding-top: 50px;
  text-align: center;
  background: url('https://cf-static.clouty.ru/69caf36c1ca84a379b1e1e0e230e94f16965a3fa064d47a589b3eec39b42b1fc');
  background-color: #0b121e;
}

.explore-cont__title {
  font-size: 22px;
  font-weight: 300;

}
.explore-cont__text {
  font-size: 16px;
  font-weight: 100;
}

.explore-cont__link {
  color: #E93F1B;

}


.thanks {
  padding-top: 50px;
  text-align: left;
  background-color: #0b121e;

}

.ziverge {
  width: 200px;
  height: 38px;
}
.irtus {
  width: 175px;
  height: 68px;
}

.epfl {
  width: 131px;
  height: 38px;
}
.scalacenter {
  width: 231px;
  height: 50px;
}

.banner {
  padding-bottom: 100px;
}

.explore-cont__img {
  z-index: 999;
}

.footer-cont__title {
  font-size: 18px;
  font-weight: 700;
}

.footer {
    color: #9DAFBD;
}
.footer-cont {
  text-align: left;

}

.email {
    color: #E93F1B;
}

.footer-nav a {
  font-size: 12px;
}
.button-footer {
  display: flex;
  flex-direction: row;
}
.btn-footer {
  background-color:transparent;
    border-radius: 40px;
    border:1px solid #E93F1B;
  display:inline-block;
    cursor:pointer;
    color: #E93F1B;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    font-weight: 300;
    padding:9px 20px;
    text-decoration: none;

}
.btn-footer-dwnl {
  background-color:#E93F1B;
    border-radius: 40px;
    border:1px solid #E93F1B;
  display:inline-block;
    cursor:pointer;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    font-weight: 300;
    padding:9px 20px;
    text-decoration: none;
}

.nav-item >.active a {
  color: #E93F1B;

}
